language: cpp

stages:
  - build
  - test

addons:
  apt:
    update: true
    packages:
      - libcpprest-dev
      - qt5-default
      - qtdeclarative5-dev
      - python3
      - python3-pip

  homebrew:
    update: true
    packages:
      - conan
      - qt5

jobs:
  include:

    ###############################
    ##            TEST
    ###############################

    - stage: test
      os: linux
      dist: bionic
      language: python
      python: "3.7"
      compiler: gcc
      install: &install_linux
        - pip install --upgrade pip
        - pip install conan
        - wget https://github.com/Kitware/CMake/releases/download/v3.15.7/cmake-3.15.7-Linux-x86_64.tar.gz
        - tar -xf cmake-3.15.7-Linux-x86_64.tar.gz
        - export PATH=`pwd`/cmake-3.15.7-Linux-x86_64/bin:$PATH
      before_script: &before_script
        - cd build
      script: &script_linux_test
        - conan install ..
        - cmake ..
        - make getit_tests
        - ./bin/getit_tests

    - stage: test
      os: linux
      dist: bionic
      language: python
      python: "3.7"
      compiler: clang
      install: *install_linux
      before_script: *before_script
      script: *script_linux_test

    - stage: test
      os: osx
      osx_image: xcode11.4
      language: cpp
      compiler: gcc
      install: &install_macos
        - wget https://github.com/Kitware/CMake/releases/download/v3.15.7/cmake-3.15.7-Darwin-x86_64.tar.gz
        - tar -xf cmake-3.15.7-Darwin-x86_64.tar.gz
        - export PATH=`pwd`/cmake-3.15.7-Darwin-x86_64/bin:$PATH
      before_script: *before_script
      script: &script_macos_test
        - conan install .. -s compiler=apple-clang
        - cmake .. -DCMAKE_PREFIX_PATH=/usr/local/opt/qt
        - make getit_tests
        - ./bin/getit_tests

    - stage: test
      os: osx
      compiler: clang
      install: *install_macos
      before_script: *before_script
      script: *script_macos_test

    ###############################
    ##            BUILD
    ###############################
    - stage: build
      os: linux
      dist: bionic
      language: python
      python: "3.7"
      compiler: gcc
      install: *install_linux
      before_script: *before_script
      script: &script_linux_build
        - conan install ..
        - cmake ..
        - make getit

    - stage: build
      os: linux
      dist: bionic
      language: python
      python: "3.7"
      compiler: clang
      install: *install_linux
      before_script: *before_script
      script: *script_linux_build

    - stage: build
      os: osx
      osx_image: xcode11.4
      language: cpp
      compiler: gcc
      install: *install_macos
      before_script: *before_script
      script: &script_macos_build
        - conan install ..
        - cmake .. -DCMAKE_PREFIX_PATH=/usr/local/opt/qt
        - make getit

    - stage: build
      os: osx
      osx_image: xcode11.4
      language: cpp
      compiler: clang
      install: *install_macos
      before_script: *before_script
      script: *script_macos_build
